span { border: solid 2px rgb(255, 255, 255);
		position: absolute;
		left: 1150px;
		top:26px;
		height: 620px;
		width: 250px;
		color:white;
		line-height: 50px;
		background-image: linear-gradient(to right, #c6acde, #bcabe1, #b2aae3, #a6a9e5, #99a9e6, #84b1ef, #69baf5, #48c2f6, #00d4f1, #20e3de, #66eec3, #a2f6a6);
}

#NameID {font-family: 'Amatic SC', cursive;
font-size:30px;
text-align: center;
color: white;
}


#PunkteID {font-family: 'Amatic SC', cursive;
font-size:30px;
text-align: center;
color: #f9b1fc;


}

#start {

margin: 5em 10em 1em 5em;


}

#Startscreen {

	border-style: solid;
	margin: 1em 15em 15em 15em;
	border-radius: 3px;
	border-color: transparent;
	background: #3673a4;
}

#Endscreen {

	border-style: solid;
	margin: 1em 15em 15em 15em;
	border-radius: 3px;
	border-color: transparent;
	background: #3673a4;

}

h1 {
	font-size: 4em;
	color: #ffffff;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 0.05em;

}

.text1 {

	font-size: 2em;
	color: #ffffff;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 0.02em;
	border-style: solid;
	margin: 1em 5em 1em 5em;
}

.text2 {
	font-size: 2em;
	color: #ffffff;
	text-indent: 2em;
	text-align: left;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 0.04em;
	margin: 1em 5em -1em 5em;
}

button {
	text-align: center;
	margin: 5em 1em 1em 5em;
	box-shadow: inset 1px 14px 14px -1px #ffffff;
	background-color: rgb(255, 255, 255);
	border-radius: 19px;
	border: 3px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	font-family: Trebuchet MS;
	font-size: 18px;
	font-weight: bold;
	padding: 7px 100px;
	text-decoration: none;
	text-shadow: 0px 0px 0px #ffffff;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s;

}

button:hover {
	opacity: 1.2
}